.text-orange {
    color: black !important;
}

.bg-orange {
    background-color: black !important;
}

nav {
    height: 7vh;
}

.container-fluid {
    height: 93vh;
}

.container-form {
    width: 400px;
}